.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.ribbon1 {
    position: absolute;
    top: -10px;
    left: -10px;
    overflow: hidden;
    width: 35px;
    height: 35px;
    text-align: left;
}

.ribbon1 div {
    transform: rotate(-45deg);
    width: 40px;
    position: absolute;
    top: 19px;
    left: -21px;
}