@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
    font-family: 'ObelixPro';
    font-weight: 400;
    src: url('/static/fonts/obelixpro/ObelixPro-cyr.woff') format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    background: #f7f7f9;
} */

.ck-editor__editable {
    min-height: 150px !important;
}

.ck-editor__editable a,
.viewer .ck-editor__editable a {
    color: blue;
}

.stroke-text {
    -webkit-text-stroke: 2px black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.stroke-text.panel-item:hover,
.selected-panel.stroke-text {
    -webkit-text-stroke: 2px #E5632B;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.viewer .ck-editor__editable {
    min-height: auto !important;
}

.ck-content ul,
.ck-content ol {
    padding-left: 20px !important;
    padding-right: 0px !important;
}

.readonly-editor .ck-editor__top {
    display: none !important;
}

.readonly-editor .ck-content.ck-editor__editable {
    border: none !important;
    background-color: transparent !important;
}

.readonly-editor .editor-wrapper .ck.ck-editor__main {
    padding: 0;
    /* remove padding within the editor */
}

.custom-cursor {
    cursor: url('../public/user.png'), auto !important;
}

input[type="search"]::-webkit-search-cancel-button {
    color: #CE0000;
    display: none;
}

#module-tool-tip {
    z-index: 999;
}

.train-tooltip {
    max-width: 200px;
    word-wrap: break-word;
}

.comicstrip-panel {
    height: calc(100vh - 40px);
}

.bg-comic_bg {
    /* Set the background image and cover the entire container */
    background-image: url('../public/static/images/comicbackground.svg');
    background-size: cover;
}

.search-filter {
    width: calc(100% - 35px);
}

@media (min-width: 640px) {
    .venture-filter-bar {
        width: calc(100% - 9rem);
    }

    .comic-generator-header {
        width: calc(100vw - 7rem);
    }
}

@media (max-width: 640px) {
    .comic-generator-header {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .venture-filter-bar {
        width: calc(100% - 12rem);
    }
}

@media (min-width: 1024px) {
    .venture-filter-bar {
        width: calc(100% - 12rem);
    }
}

img {
    visibility: visible !important;
}